<!-- <form #videoForm="ngForm">
    <div #dataContainer [ngClass]="{ 'hidden': isEditMode }"></div>
    <div *ngIf="isEditMode">
      <div class="form-group">
        <label for="sourceM" class="form-label">Video Link</label>
        <input #sourceM="ngModel" id="sourceM" type="text" class="form-control" name="sourceM" [(ngModel)]="source" placeholder="Please enter facebook video URL"
          required pattern="https?://www.facebook.com/.+/videos/.+" />
        <small>To get this, rightclick on facebook video and select “Show video URL”</small>
        <div *ngIf="sourceM.invalid" class="invalid-feedback">
          <div *ngIf="sourceM.errors.required">Please fill out this field.</div>
          <div *ngIf="sourceM.errors.pattern">Please fill out this field as url to Facebook Video.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="descriptionM" class="form-label">Description:</label>
        <input #descriptionM="ngModel" id="descriptionM" type="text" class="form-control" name="descriptionM" placeholder="Description"
          [(ngModel)]="description" />
      </div>
    </div>
  </form> -->