<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
        <div class="nav-tabs-overlap">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
        <div #content class="body">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li class="nav-item active" (click)="tabClick('TestOne')">
                    <a class="nav-link" id="testone-tab" data-toggle="tab" href="#testone" role="presentation"
                        aria-controls="testone" aria-selected="true">step 1</a>
                </li>
                <li class="nav-item "  (click)="tabClick('TestTwo')">
                    <a class="nav-link" id="testtwo-tab" data-toggle="tab" href="#testtwo" role="presentation"
                        aria-controls="testtwo" aria-selected="false">step 2</a>
                </li>
                <li class="nav-item" (click)="tabClick('TestTree')">
                    <a class="nav-link" id="testtree-tab" data-toggle="tab" href="#testtree" role="presentation"
                        aria-controls="testtree" aria-selected="false">step 3</a>
                </li>
                <li class="nav-item"  (click)="tabClick('TestFour')">
                    <a class="nav-link" id="testfour-tab" data-toggle="tab" href="#testfour" role="presentation"
                        aria-controls="testfour" aria-selected="false">step 4</a>
                </li>
                
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane animated fadeIn active" id="testone" role="tabpanel" aria-labelledby="testone-tab">
                    <app-testone *ngIf="activeTabs.indexOf('TestOne') != -1"> </app-testone>
                </div>
                <div class="tab-pane animated fade" id="testtwo" role="tabpanel" aria-labelledby="testtwo-tab">
                    <app-testtwo *ngIf="activeTabs.indexOf('TestTwo') != -1"> </app-testtwo>
                </div>
                <div class="tab-pane animated fade" id="testtree" role="tabpanel" aria-labelledby="testtree-tab">
                    <app-testtree *ngIf="activeTabs.indexOf('TestTree') != -1"> </app-testtree>
                </div>
                <div class="tab-pane animated fade" id="testfour" role="tabpanel" aria-labelledby="testfour-tab">
                    <app-testfour *ngIf="activeTabs.indexOf('TestFour') != -1"> </app-testfour>
                </div>
               
            </div>
        </div>

    </div>
</div>