<div class="card main-content">

  <div class="header">
    <h2>
      Setting
    </h2>

  </div>

  <div class="body table-responsive">
    <div class="row">
      <div class="col-md-6">
        <span class="switch">
          <input type="checkbox" class="switch" id="switch-ids">
          <label for="switch-ids">Private</label>
        </span>
      </div>

      <div class="col-md-6">
        <span class="switch">
          <input type="checkbox" class="switch" id="switch-id">
          <label for="switch-id">View for Intobi.com</label>
        </span>
      </div>
    </div>
    <div class="row">
      <h3 class="text-center">Permissions</h3>
      <br>
      <div class="col-md-6">
        <label for="exampleFormControlSelect1">User Role</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Users</option>
          <option>Developer</option>
        </select>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <span class="switch">
            <input type="checkbox" class="switch" id="switch-1id">
            <label for="switch-1id">Create</label>
          </span>
        </div>
        <div class="col-md-6">
          <span class="switch">
            <input type="checkbox" class="switch" id="switch-2id">
            <label for="switch-2id" aria-checked="true">Edit</label>
          </span>
        </div>
        <div class="col-md-6">
          <span class="switch">
            <input type="checkbox" class="switch active" id="switch-3id">
            <label for="switch-3id" aria-checked="true">Add Task</label>
          </span>
        </div>
        <div class="col-md-6">
          <span class="switch">
            <input type="checkbox" class="switch" id="switch-4id">
            <label for="switch-4id">Create DragDrop Form</label>
          </span>
        </div>
        <!-- <div class="col-md-6">
    <span class="switch">
        <input type="checkbox" class="switch" id="switch-5id">
        <label for="switch-5id">text</label>
      </span>
</div>
<div class="col-md-6">
    <span class="switch">
        <input type="checkbox" class="switch" id="switch-6id">
        <label for="switch-6id">text</label>
      </span>
</div>

<div class="col-md-6">
    <span class="switch">
        <input type="checkbox" class="switch" id="switch-7id">
        <label for="switch-7id">text</label>
      </span>
</div>
<div class="col-md-6">
    <span class="switch">
        <input type="checkbox" class="switch" id="switch-8id">
        <label for="switch-8id">text</label>
      </span>
</div>
      </div> -->
      </div>
      <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
        <i class="material-icons add-plus">save</i>
      </button>
    </div>
  </div>