<div class="account-box">
    <div class="anim-container triangels">
        <div class="diamond">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="account-box-left">
       <router-outlet></router-outlet>

<div class="row">
       
    </div>
    </div>